footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw 60px;
    background: #016565 /* #383838; */
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo{
    height: 160px;
}

.about-company {
    margin-right: 20px;
}

.info-contacts{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.column {
    flex: 50%;
    margin-right: 20px;
}

.footer-link:hover{
    color: #fff;
}

.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 5px 0 0 30px;
}

.footer-title{
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
}

.footer-subtitle{
    color: #fff;
    margin: 10px 0 0 30px;
}

.footer-social-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-contacts{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}