.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 80vh;
    max-width: 100%;
    position: relative;
    margin-bottom: 80px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section-image{
    display: block;
    width: 100%;
    object-fit: cover;
}

.collection-short-des{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11%;
    justify-content: center;
    text-align: center;
    color: #982525;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    z-index: 1;
}

.collection-short-des::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    width: 355px;
    height: 100%;
    background-color: rgba(183, 252, 252, 0.7);
    border-radius: 5px;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    bottom: 11%;
    top: 0;
    width: 100%;
    color: #982525;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    z-index: 1;
}

.collection-title{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}
