.product-details{
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Krub', sans-serif;
}

.image-slider{
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
    justify-content: center;
}

.product-images{
    position: absolute;
    /*bottom: 5%;*/
    /*bottom: 20px;*/
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img{
    max-width: 100%;
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active{
    opacity: 0.5;
}

.details{
    width: 80%;
    margin-left: 8%;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price{
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #016565;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
    line-height: 60px;
    text-transform: uppercase;
    color: #016565;
    cursor: pointer;
}

.size-radio-btn.check{
    background: #016565;
    color: #fff;
}

.btn-group {
    margin-top: 5px;
}

.btn {
    max-width: 240px;
    width: 48%;
    margin: 5px 5px 5px 0;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #016565;
    color: #016565;
    font-size: 20px;
    cursor: pointer;
}

#cart-btn{
    margin-right: 2%;
}

.btn:hover {
    background-color: #016565;
    color: #fff;
}

.detail-des{
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading{
    font-size: 30px;
    margin-bottom: 30px;
}

.des{
    color: #016565;
    line-height: 25px;
    white-space: pre-wrap;
    margin-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media (max-width: 1400px)  { /* screen and (min-width: 600px), (min-width: 1100px) */
    .product-images{
        /*margin-right: 3px;*/
        top: 72%;
    }
    .image-slider{
        height: 30rem;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
    }
}
@media (max-width: 1300px) {
    .product-images{
        top: 68%;
    }
    .image-slider {
        background-size: contain;
        height: 30rem;
    }
}
@media (max-width: 1200px) {
    .product-images{
        top: 67%;
    }
}
@media screen and (max-width: 1130px) {
    .product-images{
        top: 65%;
    }


}
@media screen and (max-width: 1100px) {
    .product-images {
        top: 66%;
    }
}
@media screen and (max-width: 1000px) {
    .product-images {
        top: 65%;
    }
}
@media (max-width: 990px) {
    .product-images{
        top: 64%;
    }
}
@media (max-width: 980px) {
    .product-images{
        top: 63%;
    }
}

@media (max-width: 970px) {
    .product-images{
        top: 62%;
    }
}
@media (max-width: 940px) {
    .product-images{
        top: 61%;
    }
}
@media (max-width: 920px) {
    .product-images{
        top: 60%;
    }
}
@media (max-width: 900px) {
    .product-images{
        top: 58%;
    }
}
@media (max-width: 850px) {
    .product-details {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px 10vw;

    }

    .image-slider {
        width: 500px;
        height: 30rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .product-images {
        top: 72%;
    }

    .details {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .product-details {
        padding: 20px 10vw;
    }

    .image-slider{
        max-width: 500px;
        width: 100%;
        height: 30rem;
        justify-content: center;
    }

    .product-images {
        max-width: 90%;
        width: 100%;
        transform: translateX(-52%);
    }

    .details .product-brand{
        text-transform: capitalize;
        font-size: 30px;
        margin-top: 5%;
    }

}

