.search-results{
    width: 100%;
    padding: 60px 0;
}

.heading{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}

.product-container {
    grid-template-columns: repeat(5, 1fr);
}

.card-container .product-container{
    display: grid;
    height: auto;
    grid-row-gap: 40px;
}

.slider-container .product-container {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

/*1600 * 480*/
@media screen and (max-width: 1600px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1275px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}