body{
    display: block;
    background: #fff;
    margin: 0;
    padding: 0;
}

section {
    padding: 0 10vw;
}

.section-heading {
    padding: 10px 10vw;
}

.heading{
    text-transform: capitalize;
    font-weight: 500;
}

h1 {
    font-size: 30px;
    color: #016565;
}

.heading h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.terms-info{
    color: #016565;
    line-height: 25px;
    white-space: pre-wrap;
    margin: 20px 0 20px 50px;
}

a {
    color: #016565;
    text-decoration: underline;
    transition: color 0.5s;
}

a:hover {
    color: #c12f2f;
}
